/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


@font-face {
    font-family: "ultra";
    src: url('../fonts/serif/ultra-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "roboto";
    src: url('../fonts/serif/robotoslab-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



h1{
    font-family: "ultra", Garamond, serif;
    font-size: 3rem;
    letter-spacing: .25rem;
    transform: rotate(-5deg);
    margin-top: .02rem;
    margin-bottom: .09rem;

}


.highlight {
    font-family: 'ultra';
    display: inline-block;
    border: 1px solid #000;
    padding: 1rem 1.75rem;
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: brown;
    color: #fff;
    box-shadow: 5px 5px 4px -1px #888;

}

P {
    font-family: roboto, Arial, sans-serif;
    margin-top: 1rem;
}




h1, h2, h3, h4 {
    font-family: ultra, Arial, Helvetica, sans-serif;
    letter-spacing: 0.0325rem;
    padding-top: .25rem;
}




* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}


.main-section{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1.25rem;

}


article {
    grid-column: 1 / 2;
    grid-row: 1;
}


aside {
    grid-column: 2 / 3;
    grid-row: 1;
    border-left: 1px solid #28234b;
    padding-left: .75rem;


}


aside p{
    border-bottom: 1px solid #28234b;
    padding-bottom: 1.5rem;
    
}







aside p .expand{
    font-size: .25rem;
}


/* ------ START WRITING YOUR CODE BELOW ------ */

aside p .expand:focus, 
aside p .expand:hover {
    color: solid #1fc05c;
    text-decoration: underline;
    

}









.subsection {
    display: flex;
}



header {
    padding: 1rem 0;
    text-align: center;
}


nav {
    margin-top: 3rem;
    text-align: center;
}



img {
    width: 100%;
}


figure {
    margin: 0px;
}

.article-image {
    width: 33%;
    float: left;
    margin-right: .75rem;
}


.subsection {
    margin: 1rem 0rem;
}

.subsection figure {
    margin: 0rem .25rem;
    background-color: #A3B2AB;
}

.subsection figure figcaption {
    padding: 0.5rem 0.5rem;
}




.button {
    background-color: grey; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: .4s;
    cursor: pointer;
  }

.button:hover {
    background-color: brown;
    color: white;
    cursor: pointer;
}


  

a {
    text-decoration: none;
}


nav a {
    display: inline-block;
    padding: 1.25rem 2rem;
    font-size: 1.45rem;
    font-family: 'roboto';
    color: #28234b;
}


nav {
    border-top: 1px solid #28234b;
    border-bottom: 1px solid #28234b;
}

nav a:focus, 
nav a:hover {
    color: solid #28234b;
    
    text-decoration: line-through;
}

footer {
    padding-top: 2rem;
}

/* ------ START WRITING YOUR CODE BELOW ------ */

footer .attribution {
    text-align: right;
   word-wrap: normal;
   
}
 

footer {
    display: inline-block;
    white-space: nowrap;
    margin-top: 8rem;
    
    word-wrap: break-word;
    
}